/* Full background */
.forgot-wrapper {
  background-color: #e9f4ff;
  height: 100vh;
  position: relative;
  font-family: "Inter", sans-serif;
}

/* Close icon */
.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  color: #000;
}

/* Card */
.forgot-card {
  width: 420px;
  border-radius: 18px;
  border: none;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);
  padding: 15px;
}

/* Heading */
.forgot-card h4 {
  font-weight: 600;
  color: #222;
}

/* Input */
.email-input {
  height: 48px;
  border-radius: 8px;
  font-size: 15px;
}

/* Button */
.reset-btn {
  width: 100%;
  height: 48px;
  background-color: #2f3b7d;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
}

.reset-btn:hover {
  background-color: #24306b;
}

/* Back to login */
.back-login {
  font-size: 14px;
  color: #ff4d6d;
  cursor: pointer;
}

.back-login:hover {
  text-decoration: underline;
}
