/* Background */
.login-bg {
  background-color: #e9f4ff;
  min-height: 100vh;
  position: relative;
}

/* Close icon */
.close-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 22px;
  cursor: pointer;
}

/* Center container */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */
.login-card {
  width: 100%;
  max-width: 400px; /* EXACT width like image */
  border-radius: 14px;
  border: none;
  padding: 6px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Brand row */
.brand-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 14px;
}

.login-logo {
  width: 80px;
}

.brand-name {
  font-size: 25px;
  font-weight: 600;
  color: #2f3c7e;
  
}

/* Title */
.login-title {
  text-align: center;
  font-size: 20px;
  font-weight: 550; /* medium bold */
  margin-bottom: 20px;
}

/* Inputs */
.login-input {
  height: 44px;
  border-radius: 8px;
  font-size: 14px;
}

/* Eye icon */
.eye-icon {
  background: #fff;
  cursor: pointer;
}

/* Links */
.login-links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 18px;
}

.forgot-password {
  color: #ff4d6d;
  cursor: pointer;
}

.phone-login {
  cursor: pointer;
}

/* Sign in button */
.signin-btn {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background-color: #2f3c7e;
  border: none;
  font-size: 14px;
  margin-bottom: 18px;
}

.signin-btn:hover {
  background-color: #25306a;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #777;
  margin-bottom: 18px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  margin: 0 10px;
}

/* Google button */
.google-btn {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.google-icon {
  width: 18px;
}
