.edit-subscription-container {
  margin-top: 120px;
  max-width: 700px;
}

.edit-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.variant-id {
  text-align: left;
  margin-bottom: 20px;
}

/* Loader */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Actions */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 576px) {
  .form-actions {
    justify-content: center;
  }

  .edit-subscription-container {
    margin-top: 100px;
    padding: 10px;
  }
}
