.tc-root {
  margin-top: 24px;
}

.tc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.tc-title {
  font-weight: 600;
  font-size: 22px;
}

.tc-add-btn {
  background-color: #1976d2 !important;
  text-transform: none !important;
  border-radius: 6px !important;
}

.tc-table-card {
  border-radius: 10px;
  overflow: hidden;
}

.tc-th {
  font-weight: 600 !important;
  background-color: #f5f5f5;
}

.tc-td {
  font-size: 14px;
}

.tc-bold {
  font-weight: 600;
}

.tc-center {
  text-align: center;
}

.tc-delete-btn {
  color: #d32f2f !important;
}

.tc-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}



.department-div{

  width: 60%;
}